/* Dark mode colors. */


:root {
	--sl-color-accent-low: #1e1e2e;
	--sl-color-accent: #f5c2e7;
	--sl-color-accent-high: #b4befe;
	--sl-color-white: #cdd6f4;
	--sl-color-gray-1: #9399b2;
	--sl-color-gray-2: #7f849c;
	--sl-color-gray-3: #6c7086;
	--sl-color-gray-4: #585b70;
	--sl-color-gray-5: #45475a;
	--sl-color-gray-6: #313244;
	--sl-color-black: #1e1e2e;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #eff1f5;
	--sl-color-accent: #ea76cb;
	--sl-color-accent-high: #7287fd;
	--sl-color-white: #4c4f69;
	--sl-color-gray-1: #6c6f85;
	--sl-color-gray-2: #7c7f93;
	--sl-color-gray-3: #8c8fa1;
	--sl-color-gray-4: #9ca0b0;
	--sl-color-gray-5: #acb0be;
	--sl-color-gray-6: #bcc0cc;
	--sl-color-gray-7: #ccd0da;
	--sl-color-black: #eff1f5;
}