/* Dark mode colors. */


:root {
	--sl-color-accent-low: #89b4fa;
	--sl-color-accent: #f5c2e7;
	--sl-color-accent-high: #b4befe;
	--sl-color-white: #cdd6f4;
	--sl-color-gray-1: #9399b2;
	--sl-color-gray-2: #7f849c;
	--sl-color-gray-3: #6c7086;
	--sl-color-gray-4: #585b70;
	--sl-color-gray-5: #45475a;
	--sl-color-gray-6: #313244;
	--sl-color-black: #1e1e2e;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #b4befe;
	--sl-color-accent: #f5c2e7;
	--sl-color-accent-high: #89b4fa;
	--sl-color-white: #1e1e2e;
	--sl-color-gray-1: #313244;
	--sl-color-gray-2: #45475a;
	--sl-color-gray-3: #585b70;
	--sl-color-gray-4: #6c7086;
	--sl-color-gray-5: #7f849c;
	--sl-color-gray-6: #9399b2;
	--sl-color-gray-7: #a6adc8;
	--sl-color-black: #cdd6f4;
}